
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(94, 42, 12);
}

p{
    font-style: italic;
    color: rgb(87, 22, 3);
}

div{
    text-align: center;
}

ul{
    list-style: none;
}

.TextoB {
    position: relative;
    display: inline-block;
}

.TextoB img {
    width: 60vw;
    height: 90vh;

}

.TextoBlusa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    font-size: 4.2em;
}


.TextoC {
    position: relative;
    display: inline-block;
}

.TextoC img {
    width: 60vw;
    height: 90vh;
}

.TextoCalça {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(14, 13, 13);
    padding: 10px 20px;
    text-align: center;
    font-size: 4.2em;
}

.TextoV {
    position: relative;
    display: inline-block;
}

.TextoV img {
    width: 60vw;
    height: 90vh;
}

.TextoVestido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(236, 231, 231);
    padding: 10px 20px;
    text-align: center;
    font-size: 4.2em;
}

.TextoS {
    position: relative;
    display: inline-block;
}

.TextoS img {
    width: 60vw;
    height: 90vh;
}

.TextoSaia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 243, 243);
    padding: 10px 20px;
    text-align: center;
    font-size: 4.2em;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 107, 88);
}

div{
    text-align: center;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(5, 4, 4);
}

.botão{
    color: rgb(12, 11, 11);
}

